.navbar .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
  width: 100%;

}

.navbar {
  background-color:wheat;
}

.cart {
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  height: auto;
}

  
.links a {
  text-decoration: none;
  color: #1c1c1c;
  margin-left: 20px;
  font-size: 25px;
}

.icon {
  width: 32px;  
  height: auto; 
}

.logo {
  width: 400px;
  height: auto;
  display: flex;        
  justify-content: center;
  align-items: center;
}

.cart {
  display: grid
}

.logo img, .icon {
max-width: 100%;  
height: auto;   
  }
  
